<div class="container">
    <div>
        <label for="codeGenre">code genre </label>
        <select name="codeGenre" id="codeGenre" [(ngModel)]="code">
            <option value="0460">0460</option>
            <option value="0780">0780</option>
        </select>
    </div>
    <div>
        <label for="date">date de publication </label>
        <input type="month" name="date" id="date" [(ngModel)]="date">
    </div>
    <div>
        <label for="lot">numéro de lot </label>
        <input type="number" name="lot" id="lot"[(ngModel)]="number">
    </div>
</div>
